.reservation {
  background: url(../images/desktop/s9/sec9img01.jpg) center center;
  background-size: cover;

  .d_flex {
    padding: 0 4rem;
    align-items: flex-start;
    justify-content: center;
  }
}

.intro {
  margin-right: 2rem;
  flex: 1 1 40%;
  max-width: 480px;
}

// 基本資料
.table_wrapper {
  color: #fff;

  .title {
    font-size: 30px;
    margin-bottom: 1rem;
  }

  .table > thead > tr > th {
    border: none;
  }
  .table > tbody > tr > td {
    border: none;
    font-size: 18px;
  }
}

.call-to-action {
  flex: 1 1 60%;
  max-width: 680px;
}

.form_wrapper {
  max-width: 710px;
  margin: 0 auto;

  .d_flex {

    padding: 0;
    .form-control {
      flex: 1;
      margin-bottom: 0;
      margin-right: 16px;
    }
  }
}

.form_title {
  margin-bottom: 2rem;
  color: #fff;
  font-weight: bold;
  text-align: left;
}

.form-control {
  height: auto;
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: initial;
  color: #fff;
  padding: 8px 20px 8px 12px;

  &::placeholder {
    color: #fff;
  }
}

.policy {
  margin-bottom: 1rem;
  color: #fff;
  line-height: 1.5;
}

.form-check-label {
  margin-bottom: 1.5rem;
  color: #fff;
  font-weight: normal;
  cursor: pointer;
  a {
    padding-left: 4px;
    color: #fff;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}

.btn {
  flex: 1;
  color: #003F82;
  border-radius: initial;
  background-color: #D3E4F5;
  font-size: 20px;
  font-weight: bold;
  transition: all .1s ease-in;
  cursor: pointer;
  &:hover {
    color: #D3E4F5;
    background-color: #003F82;
  }
}

.btn_secondary {
  color: #003F82;
  background-color: #D3E4F5;
  border: 0;
  border-radius: initial;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .reservation {
    .d_flex {
      padding: 2rem 1rem;
      flex-direction: column;
      align-items: center;
      max-width: 680px;
      margin: 0 auto;
    }
    .intro {
      flex: 1 1 100%;
      width: 100%;
      max-width: 100%;
      margin: 0;
      padding: 0;
    }
    .call-to-action {
      flex: 1 1 100%;
    }

    .table_wrapper {
      .title {
        font-size: 22px;
        text-align: left;
      }
      .table > thead > tr > th {
        padding: 0;
      }
      .table > tbody > tr > td {
        font-size: 16px;
        padding: 0 0 1rem 0;
      }
    }

    .form_wrapper {
      max-width: 680px;
      .d_flex {
        flex-direction: row;
        align-items: stretch;
        padding: 0;
        margin-bottom: 2rem;
        .form-control {
          margin-right: 5px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .reservation {
    background: url(../images/mobile/s9/sec9img01.jpg) center center;
  }
}

@media (max-width: 480px) {
  .reservation {
    .intro {
      padding: 0 15px;
    }
  }
  .form_title {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 22px;
  }
  .form-control {
    margin-bottom: .5rem;
  }
  .form-control,
  .btn,
  .btn_secondary {
    font-size: 15px;
  }
  .policy {
    margin-bottom: 8px;
    font-size: 12px;
    letter-spacing: -1px;
  }
  .form-check-label  {
    margin-bottom: 12px;
    font-size: 12px;
  }
}