.section-content {
  margin: 0 auto;
}

// 主視覺
.Sec0 {
  position: relative;
  max-width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;

  img {
    margin: 0 auto;
  }

  .img-bg {
    img {
      max-width: initial;
      height: 100vh;
      width: 100vw;
      object-fit: cover;
    }
  }

  .img-logo {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }

  .img-logo-2 {
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    max-width: 900px;
  }
}

@media screen and (max-width: 768px) {
  .Sec0 {
    .img-logo {
      top: 8rem;
      width: 60%;
    }

    .img-logo-2 {
      width: 60%;
      bottom: 4rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .Sec0 {
    .img-logo {
      top: 25%;
    }
  }
}

@media screen and (max-width: 375px) {
  .Sec0 {
    .img-logo {
      top: 8rem;
    }
  }
}

.Sec1 {
  padding: 8rem 6rem;
  .content {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .para {
    max-width: 50%;
  }
  .swiper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 4rem;
  }
  .slide-img {
    img {
      max-width: 1500px;
      height: auto;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .Sec1 {
    padding: 0 0 2rem 0;
    .section-content {
      display: flex;
      flex-direction: column-reverse;
    }
    .content {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      max-width: 636px;
      margin: 2rem auto;
      padding: 0 2rem;
    }
    .para {
      max-width: 100%;
    }
    .deco-line {
      width: 100%;
      height: 1px;
      margin: 1rem auto;
    }
    .swiper {
      padding: 0;
    }
  }
}

.Sec2 {
  padding: 6rem;
  padding-top: 2rem;
  .content {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .cesar-logo-wrapper {
    display: flex;
    align-items: center;
  }
  .cesar-logo {
    margin-right: 1rem;
  }
  .content-img {
    width: 90%;
    margin: 0 auto;
  }
  .para {
    flex: 1;
  }
  .swiper {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .Sec2 {
    padding: 0;
    padding-bottom: 2rem;
    .section-content {
      display: flex;
      flex-direction: column-reverse;
    }
    .content {
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      max-width: 636px;
      margin: 2rem auto;
      padding: 0 2rem;
    }
    .cesar-logo-wrapper {
      flex: 1;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .content-img {
      display: none;
    }
    .cesar-logo {
      max-width: 35%;
      margin: 0;
    }
    .deco-line {
      width: 100%;
      height: 1px;
      margin: 1rem auto;
    }
    .swiper {
      display: block;
      max-width: 100%;
    }
  }
}

.Sec3 {
  position: relative;
  height: 100vh;

  .horizontal-scroll-container {
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    overflow-y: hidden;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    .scroll-img {
      max-width: initial;
      max-height: 100vh;
    }
  }

  .toast {
    padding: 8px 16px;
    font-size: 13px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    transition: opacity .2s ease;
    z-index: 100;
    opacity: 0;
  
    &.active {
      opacity: 1;
    }
  }
}

.Sec4 {
  &.mobile {
    display: none;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 12rem 6rem 6rem 6rem;
  }
  .content {
    flex: 1;
    max-width: 480px;
    display: inline-flex;
    flex-direction: column;
    margin-right: 1rem;
  }
  .slide-img {
    max-width: 680px;
    flex: 0 1 30%;
  }
  .mrt {
    width: 100%;
    max-width: 476px;
    height: auto;
    margin-top: 3rem;
  }
  .deco-line {
    margin: 2rem auto;
  }
  .swiper-button-prev {
    left: 4rem;
  }
  .swiper-button-next {
    right: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .Sec4 {
    padding-bottom: 6rem;

    &.desktop {
      display: none;
    }
    &.mobile {
      display: block;
    }
    .swiper-slide {
      padding: 0;
    }
    .content {
      display: flex;
      max-width: 636px;
      margin: 0 auto;
      margin-top: 2rem;
      padding: 0 2rem;
    }
    .slide-img {
      max-width: 100%;
      flex: 1 1 100%;
    }
    .mrt {
      max-width: 100%;
      margin-top: 2rem;
    }
    .swiper-button-prev {
      left: 10px;
    }
    .swiper-button-next {
      right: 10px;
    }
    .deco-line {
      margin: 1rem auto;
    }
  }
}

.Sec5 {
  .swiper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 60px;
}
  .swiper-slide {
    margin: 0 auto;
    padding: 6rem;
  }
  .content {
    margin-bottom: 2rem;
  }

  .content-text {
    flex: 1;
  }

  .slide-img {
    max-width: 1500px;
    height: auto;
    margin: 0 auto;
  }
  .swiper-button-prev {
    left: 4rem;
    transform: translateY(2rem);
  }
  .swiper-button-next {
    right: 4rem;
    transform: translateY(2rem);
  }
  .swiper-pagination {
    visibility: hidden;
  }
}

@media screen and (max-width: 768px) {
  .Sec5 {
    padding-bottom: 2rem;
    .swiper {
      padding: 0;
    }
    .swiper-slide {
      display: flex;
      flex-direction: column-reverse;
      padding: 0;
    }
    .content {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      max-width: 636px;
      margin: 2rem auto;
      padding: 0 2rem;
    }
    .sub-title {
      margin-bottom: 0.5rem;
    }
    .deco-line {
      width: 100%;
      height: 1px;
      margin: 1rem auto;
    }
    .swiper-button-prev {
      left: 10px;
      transform: translateY(-150%);
    }
    .swiper-button-next {
      right: 10px;
      transform: translateY(-150%);
    }
    .swiper-pagination {
      visibility: visible;
    }
  }
}

@media screen and (max-width: 480px) {
  .Sec5 {
    .swiper-button-prev {
      left: 10px;
      transform: translateY(-200%);
    }
    .swiper-button-next {
      right: 10px;
      transform: translateY(-200%);
    }
  }
}

.Sec6 {
  background-color: #B3B4B5;
  padding-bottom: 2rem;
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 6rem;
  }
  .content {
    flex: 1 0 auto;
    max-width: 480px;
    margin-right: 2rem;
  }
  .designer-img {
    img {
      max-width: 220px;
      margin-bottom: 2rem;
    }
  }
  .slide-img {
    img {
      max-width: 680px;
      height: auto;
    }
  }
  .deco-line {
    margin: 2rem auto;
  }
  .title {
    color: #fff;
  }
  .para {
    margin: 0;
    margin-bottom: 1rem;
    color: #fff;
  }
  .swiper-button-prev {
    left: 3rem;
  }
  .swiper-button-next {
    right: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .Sec6 {
    padding-bottom: 0;
    .swiper-slide {
      flex-direction: column;
      padding: 0;
    }
    .content {
      display: flex;
      flex-direction: row-reverse;
      flex: 1 1 auto;
      max-width: 636px;
      padding: 2rem 2rem 0.5rem 2rem;
      margin: 0 auto;
    }
    .designer-img {
      img {
        max-width: 218px;
        height: auto;
        margin-bottom: initial;
      }
    }
    .slide-img {
      img {
        max-width: 100%;
      }
    }
    .content-text-wrapper {
      margin-right: 2rem;
    }
    .deco-line {
      margin: 1rem auto;
    }
    .swiper-button-prev {
      left: 10px;
      transform: translateY(300%);
    }
    .swiper-button-next {
      right: 10px;
      transform: translateY(300%);
    }
  }
}

@media screen and (max-width: 480px) {
  .Sec6 {
    .content {
      min-height: 290px;
      max-width: 100%;
    }
    .designer-img {
      img {
        width: 100px;
      }
    }
    .content-text-wrapper {
      margin-right: 1rem;
    }
  }
}

.Sec7 {
  padding-bottom: 2rem;
  .comma {
    display: none;
  }
  .swiper-slide {
    padding: 6rem 10rem;
  }
  .content {
    display: flex;
    align-items: center;
    gap: 4rem;

    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }
  }
  .slide-img {
    flex: 1 1 45%;
  }
  .content-text-wrapper {
    flex: 1 1 50%;
  }
  .deco-line {
    margin: 2rem auto;
  }
  .swiper-button-prev {
    left: 3rem;
  }
  .swiper-button-next {
    right: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .Sec7 {
    br {
      display: none;
    }
    .comma {
      display: inline-block;
    }
    .swiper-slide {
      padding: 4rem;
    }
    .content {
      flex-direction: column;
      max-width: 580px;
      margin: 0 auto;
      gap: 1rem;

      &:nth-of-type(even) {
        flex-direction: column;
      }
    }
    .slide-img {
      flex: 1 1 100%;
      max-width: 580px;
      margin: 0 auto;
    }
    .title {
      margin-bottom: 1rem;
    }
    .deco-line {
      max-width: 580px;
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
  .Sec7 {
    .swiper-slide {
      padding: 4rem 2rem;
    }
  }
}

.Sec9 {
  background-color: #B3B4B5;
  padding: 8rem 6rem;
  .content {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .title {
    color: #fff;
  }
  .para {
    max-width: 50%;
    color: #fff;
  }
  .swiper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 4rem;
  }
  .slide-img {
    img {
      max-width: 1500px;
      height: auto;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .Sec9 {
    padding: 2rem 0;
    .content {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      max-width: 636px;
      margin: 2rem auto;
      padding: 0 2rem;
    }
    .para {
      max-width: 100%;
    }
    .deco-line {
      width: 100%;
      height: 1px;
      margin: 1rem auto;
    }
    .swiper {
      padding: 0;
    }
  }
}