*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "微軟正黑體", "Microsoft JhengHei", "Century Gothic",
    CenturyGothic, AppleGothic, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
p {
  margin: 0;
}
picture {
  max-width: 100%;
}
.d-none {
  display: none !important;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}  
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.bg-primary {
  background-color: #92B3C7;
}
.mt-3 {
  margin-top: 1.5rem;
}
.mt-4 {
  margin-top: 2rem;
}
.mb-3 {
  margin-bottom: 1.5rem;
}
.mb-4 {
  margin-bottom: 2rem;
}
.mr-2 {
  margin-right: 1rem;
}
.title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  white-space: nowrap;
  color: #646262;
}
.sub-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
}
.para {
  font-size: 16px;
  line-height: 1.8;
  text-align: justify;
  color: #595757;
}
.deco-line {
  margin: 0;
  border: none;
  width: 100%;
  height: 1px;
  background-color: #AE0D23;
  &.vertical {
    width: 1px;
    height: 96px;
    margin: 0 1.5rem;
  }
}


@media (max-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-block {
    display: block !important;
    img {
      max-width: 100%;
    }
  }
  .d-md-flex {
    display: flex !important;
    img {
      max-width: 100%;
    }
  }
  .d-md-inline {
    display: inline-block !important;
  }
  .mb-md-0 {
    margin-bottom: 0;
  }
  .title {
    font-size: 26px;
  }
  .sub-title {
    font-size: 18px;
  }
  .para {
    font-size: 14px;
    line-height: 1.5;
  }
}


@media (max-width: 520px) {
  .title {
    font-size: 20px;
  }
  .sub-title {
    font-size: 15px;
  }
  .para {
    font-size: 13px;
  }
}


@import "_swiper.scss";
@import "_section.scss";
@import "_reservation.scss";
