*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "微軟正黑體", "Microsoft JhengHei", "Century Gothic",
    CenturyGothic, AppleGothic, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
img {
  display: block;
}
p {
  margin: 0;
}
.d_none {
  display: none !important;
}
.d_block {
  display: block;
}
.d_flex {
  display: flex;
}
.align_center {
  align-items: center;
}  
.justify_between {
  justify-content: space-between;
}
.justify_center {
  justify-content: center;
}
.justify_start {
  justify-content: flex-start;
}
.bg_primary {
  background-color: #92B3C7;
}
.mt_3 {
  margin-top: 1.5rem;
}
.mt_4 {
  margin-top: 2rem;
}
.mb_3 {
  margin-bottom: 1.5rem;
}
.mb_4 {
  margin-bottom: 2rem;
}
.mr_2 {
  margin-right: 1rem;
}
.title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 3rem;
}
.sub_title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.para {
  font-size: 16px;
  line-height: 1.8;
  text-align: justify;
}

@media (max-width: 768px) {
  .d_md_none {
    display: none !important;
  }
  .d_md_block {
    display: block !important;
    img {
      max-width: 100%;
    }
  }
  .d_md_flex {
    display: flex !important;
    img {
      max-width: 100%;
    }
  }
  .d_md_inline {
    display: inline-block !important;
  }
  .mb_md_0 {
    margin-bottom: 0;
  }
  .title {
    font-size: 24px;
    margin-bottom: 1rem;
    text-align: center;
  }
  .sub_title {
    font-size: 18px;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  .para {
    font-size: 14px;
    line-height: 1.6;
  }
}


@media (max-width: 520px) {
  .title {
    font-size: 20px;
  }
  .sub_title {
    font-size: 15px;
  }
  .para {
    font-size: 13px;
  }
}


@import "_fullpage.scss";
@import "_swiper.scss";
@import "_section.scss";
@import "_reservation.scss";
